doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3' crossorigin='anonymous')
  title Agric Officer details
  link(rel='stylesheet' href='/css/AOredirect.css')
.d-flex.align-items-start
  #v-pills-tab.nav.flex-column.nav-pills.me-3(role='tablist' aria-orientation='vertical')
    button#v-pills-home-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#v-pills-home' type='button' role='tab' aria-controls='v-pills-home' aria-selected='true')
      h5 Farmer Ones
    button#v-pills-disabled-tab.nav-link(data-bs-toggle='pill' data-bs-target='#v-pills-disabled' type='button' role='tab' aria-controls='v-pills-disabled' aria-selected='false')
      h5 Registration
  #v-pills-tabContent.tab-content
    #v-pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab' tabindex='0')
      table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') Name
            th(scope='col') Gender
            th(scope='col') Ward
            th(scope='col') Activities Undertaken
            th(scope='col') Direction
        tbody
          tr
            th(scope='row') 1
            td man
            td Male
            td Cell 02
            td Approves produce
            td mbale
          tr
            th(scope='row') 2
            td ron
            td Male
            td Cell 02
            td Approves produce
            td ntenjeru
          tr
            th(scope='row') 3
            td seth
            td Male
            td Cell 03
            td Approves produce
            td ishaka
    #v-pills-disabled.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-disabled-tab' tabindex='0')
      form(action="/AOdb" method="post")
              .row
                .mt-2.col-3
                  label(for='fullname') Name
                  input#name.form-control(type='string' placeholder='Enter name' name='fullname')
                .mt-2.col-3
                  label(for='Ward') Ward:
                  select.form-control(input='' type='string' id='ward' name='ward')
                    option(value='Cell 01') Cell 01
                    option(value='Cell 02') Cell 02
                    option(value='Cell 03') Cell 03
                    option(value='Cell 04') Cell 04
                .mt-2.col-3
                  label(for=' dateofRegistration') Date of Registration
                  input#date.form-control(type='date' name=' dateofRegistration')
                .mt-2.col-3
                  label(for='dateofbirth') Date of Birth
                  input#date.form-control(type='date' name='dateofbirth')
                .mt-2.col-3
                  label(for='Period of Stay') Period of Stay
                  select.form-control(input='' type='string' id='user id' name='Period of Stay')
                    option(value='10 years') 10 years
                    option(value='15 year') 15 years
                    option(value='17 years') 17 years
                .mt-2.col-3
                  label(for='direction') Resident Type
                  select.form-control(input='' type='string' id='residentType' name='residentType')
                    option(value='By Birth') By Birth
                    | e
                    option(value='By migration') By migration
                .mt-2.col-3
                  label(for='direction') Direction
                  input#Direction.form-control(type='string' name='direction')
                .mt-2.col-3
                  label(for='NIN') NIN
                  input#Direction.form-control(type='string' name='nin')
                .mt-2.col-3
                  label(for='userid') Unique ID
                  input#Direction.form-control(type='string' name='userid')
                .mt-2.col-3
                  label(for='password') Password:
                  input#pwd.form-control(type='password' placeholder='Enter password' name='password')
                .mt-2.col-3
                  label(for='contact') Phone Number
                  input.form-control(type='Number' id='contact' name='contact')
                .mt-2.col-3
                  label(for='gender') Gender
                  select#cars.form-control(name='cars')
                    option(value='male') Male
                    option(value='Female') Female
                .mt-2.col-3
                  label(for='activitiesUndertaken') Activities Undertaken
                  select#cars.form-control(name='activitiesUndertaken')
                    option(value='Registers urban farmer') Registers urban farmer
                    option(value='Approves produce') Approves produce
                .mt-2.col-3
                  label(for='role') Role
                  select#cars.form-control(name='role')
                    option(value='')
                    option(value='Farmerone') Farmerone
              .button
                button.btn.btn-primary(type='confirm') Confirm
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js' integrity='sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk' crossorigin='anonymous')
