doctype html
head
  title U FARM
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='css/urbanFarmerdb.css')
section
  nav.navbar.navbar-expand-lg.navbar-light.bg-light(style='position: absolute; top: 0px; width: 100%;')
    .container-fluid
      a.navbar-brand(href='#') UFARM
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='#') About us
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Accounts
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='#') Login
              li
                a.dropdown-item(href='#') SignUp
          li.nav-item
            a.nav-link.Products(href='#' tabindex='-1' aria-products='true') Products
header
  h2 Dashboard
section
  nav 
    ul
      nav
        #nav-tab.nav.nav-tabs(role='tablist')
          button#nav-home-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#nav-home' type='button' role='tab' aria-controls='nav-home' aria-selected='true') Home
          button#nav-profile-tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav-profile' type='button' role='tab' aria-controls='nav-profile' aria-selected='false') Profile
          button#nav-contact-tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav-contact' type='button' role='tab' aria-controls='nav-contact' aria-selected='false') Contact
      #nav-tabContent.tab-content
        #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
          .container.mt-3
            h2.text-center
              | Upload Produce
              form(action='')
            form(action='/action_page.php' method="post")
              .row
                .mt-2.col-3
                  label(for='Product Name') Product Name
                  input#name.form-control(type='name' placeholder='Product Name' name='Product Name')
                .mt-2.col-3
                  label(for='Activities undertaken') Payment Mode
                  select.form-control(input='' type='payment mode' id='payment mode' name='payment mode')
                    option(value='Inspects produce') Mobile money
                    | e
                    option(value='Sees all bookings and orders') Cash
                .mt-2.col-3
                  label(for='Date of registration') Date
                  input#date.form-control(type='date' name='date')
                .mt-2.col-3
                  label(for='quantity') Quantity
                  input#quantity.form-control(type='quantity' name='kgs')
                .mt-2.col-3
                  label(for='Unit price') Unit price
                  input.form-control(type='unit price' id='unit price' name='unit price')
                br
                .mt-2.col-3
                  label(for='Ward') Ward:
                  select.form-control(input='' type='user id' id='user id' name='user id')
                    option(value='Cell 01') Cell 01
                    option(value='Cell 02') Cell 02
                    option(value='Cell 03') Cell 03
                    option(value='Cell 04') Cell 04
                .mt-2.col-3
                  label(for='delevery mode') Delivery mode
                  select.form-control(input='' type='delivery mode' id='delivery mode' name='delivery mode')
                    option(value='pick up') Pick up
                    option(value='door delivery') Home delivery
                .mt-2.col-3
                  label(for='Produce Type') Produce Type
                  select.form-control(input='' type='produce category' id='user id' name='Produce Type')
                    option(value='Organic') Organic
                    option(value='Non Organic') Non Organic
                .mt-2.col-3
                  label(for='Produce Availability') Produce Availability
                  select.form-control(input='' type='Produce Availability' id='Produce Availability' name='Produce Availability')
                    option(value='N/A') N/A
                    option(value='Available') Available
                .mt-2.col-3
                  p Upload image
                  input.file-upload.input(type='file' onchange='readURL(this)' accept='image/*')
              .button
                button.btn.btn-primary(type='Upload') Upload
        #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab') ...
        #nav-contact.tab-pane.fade(role='tabpanel' aria-labelledby='nav-contact-tab') ...
div(style='margin-bottom: 20%;')
footer.bg-dark.text-white.pt-5.pb-4
  .container.text-center.text-md-left
    .row.text-center.text-md-left
      .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
        h4.text-uppercase.mb-4.font-weight-bold.text-warning Contact Us
        i.bi.bi-telephone-fill(<p='')
          | + 256 778909876
          p
        p
          a.text-white(href='#' style='text-decoration: none;')
            i.bi.bi-envelope-open-fill  farmUg@doc.org
        p
          a.text-white(href='#' style='text-decoration:none;')
            i.bi.bi-twitter @farmUg_money
      .col-md-2.col-lg-2.col-xl-2.mx-auto.mt-3
        h4.text-uppercase.mb-4.font-weight-bold.text-warning ABOUT US
        p
          | We are the most trusted peers with high quality farm products ranging from all various prices and quantities. Trust us and we shall deliver
      .col-md-4.col-lg-3.col-xl-3.mx-auto.mt-3
        h4.text-uppercase.mb-4.font-weight-bold.text-warning PRODUCTS
        p Ghee
        p Youghurt
        p Milk
        p Butter
        p Casein
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js')
