
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}


article {
  float: right;
  padding: 20px;
  width: 70%;
  background-color: #645d5d;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

.button{
  padding: 10px;
}